
 
 <link rel="stylesheet" href="../css/slider.css">
<section class="banner">

        <div class="container ">
        <div class="text-center" >
            <h2 class="section-heading text-uppercase" style="color:#dc3545">SignIn</h2>
            
        </div>
  <div class="row">

    <div class="col-md-4 mx-auto ">
                  <div class="container text-center my-auto">
 </div>
          <form action="/signin" method="POST">
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control ">
            </div>
            <button class="btn btn-primary btn-block">
              SingIn
            </button>
          </form>
    
     <center><a href="signup" style="color : rgb(53, 104, 130);">No tines cuenta, crea una!</a></center>
    
    </div>

    </section>   
 {{>footer}}
 

