
<header class="Portada">
    <div class="container">
        <center><div class="Portada-subheading">Welcome {{user.fullname}}</div></center>
        <div class="Portada-heading text-uppercase">{{user.username}}</div> 
         <a href="/videos/add" class="btn btn-primary m-4"> Save your videos</a>
</header>


